<div class="header">
    <div class="header-contacts">
        <span class="header-contacts_gmail"><img src="/assets/icons/gmail.png.png">&nbsp;cargo@gmail.com</span>
        <span class="header-contacts_phone"><img src="/assets/icons/phone.png.png">&nbsp;1+ (234) 6774 6622</span>
        <span class="header-contacts_twitter"><img src="/assets/icons/twitter.png.png">&nbsp;twitter</span>
        <span class="header-contacts_facebook"><img src="/assets/icons/facebook.png.png">&nbsp;facebook</span>
    </div>
    <div class="header-navigation">
        <div>
            <h1 class="header-title">Cargo</h1>
        </div>
        <div class="header-navbar">
          <span [routerLink]="['/']" class="header-navbar_component">Home</span>
          <a href="#services" class="header-navbar_component">Services</a>
          <a href="#aboutus" class="header-navbar_component">About us</a>
          <a href="#whyus" class="header-navbar_component">Why us</a>
          <a href="#testimonials" class="header-navbar_component">Testimonials</a>
          <a href="#blog" class="header-navbar_component">Blog</a>
          <a href="#contact" class="header-navbar_component">Contact</a>
        </div>
    </div>
</div>