<div class="footer-component">
    <div class="footer">
        <div class="footer-container">
            <span class="footer-container_about">About us</span>
            <p class="footer-container_description">Far far away, behind the word mountains,<br>  far from the countries Vokalia and Consonantia,<br>  there live the blind texts.</p>
        </div>
        <div class="footer-container">
            <span class="footer-container_features">FEATURES</span>
            <p class="footer-container_component">About Us</p>
            <p class="footer-container_component">Testimonials</p>
            <p class="footer-container_component">Terms of Service</p>
        </div>
        <div class="footer-container">
            <p class="footer-container_text">SUBSCRIBE TO NEWSLETTER</p>
            <div class="footer-container_content">
                <input class="footer-input" type="text" placeholder="Enter Email">
                <span class="footer-button">Subscribe</span>
            </div>
            <p class="footer-container_text">FOLLOW US:</p>
            <div class="footer-container_messengers">
                <img class="footer-icon" src="/assets/icons/faceb.png">
                <img class="footer-icon" src="/assets/icons/insta-footer.png">
                <img class="footer-icon" src="/assets/icons/twit.png">
            </div>  
        </div>
    </div>
            <hr>
        <p class="footer-description_company">Copyright ©2023 All rights reserved | This template is made with  by Colorlib</p>
    </div>