<div class="whyus-container" id="whyus">
    <div class="whyus">
        <div class="whyus-description">
            <h3 class="whyus-description_title">WHY US</h3>
            <p class="whyus-description_text">WE WORK QUICKLY AND EFFICIENTLY!</p>
            <p class="whyus-description_podtext">A small river named Duden flows by their place<br> and supplies it with the necessary regelialia. It is<br> a paradisematic country, in which roasted parts<br> of sentences fly into your mouth.</p>
            <div class="whyus-description_puncts">
            <span class="whyus-description_punct">	&ndash; &nbsp;Cargo express</span>
            <span class="whyus-description_punct">	&ndash; &nbsp;Secure Services</span>
            <span class="whyus-description_punct">	&ndash; &nbsp;Secure Warehouseing</span>
            <span class="whyus-description_punct">	&ndash; &nbsp;Cost savings</span>
            <span class="whyus-description_punct">	&ndash; &nbsp;Proven by great companies</span>
            </div>
        </div>
        <div class="whyus-image">
            <img class="whyus-logo" src="/assets/images/home-wordship.webp">
        </div>
    </div>
    
    </div>

