<div class="aboutus-container" id="aboutus">
    <h3 class="aboutus-container_title">About us</h3>
    <p class="aboutus-container_text">Far far away, behind the word mountains, far from the countries Vokalia and<br> Consonantia, there live the blind texts</p>
    <div class="aboutus-container_video">
    <iframe width="1000" height="515" src="https://www.youtube.com/embed/sBHM4UyJjSc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    <div class="aboutus-container_raiting">
            <p class="aboutus-raiting">&nbsp;&nbsp;&nbsp;50+<br><span class="aboutus-description">Years of Experience</span></p>
            <p class="aboutus-raiting">300+<br><span class="aboutus-description">Companies</span></p>
            <p class="aboutus-raiting">&nbsp;108+<br><span class="aboutus-description">Covered Countries</span></p>
            <p class="aboutus-raiting">1500+<br><span class="aboutus-description">&nbsp;&nbsp;&nbsp;Couriers</span></p>
    </div>

</div>