.aboutus-container_title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    color: #fa8729;
    text-align: center;
}

.aboutus-container_text {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #0808089f;
    text-align: center;
}

.aboutus-container_video {
    text-align: center;
    margin-top: 100px;
}

.aboutus-container_raiting {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutus-raiting {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 52px;
    color: #fa8729;
    margin: 70px;
}

.aboutus-description {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #0808089f;
}