<div class="contact-container" id="contact">
    <p class="contact-container_subtitle">GET IN TOUCH</p>
    <h3 class="contact-container_title">CONTACT US</h3>
    <div class="contact">
        <div class="contact-user">
            <input class="contact-user_name" type="text" placeholder="Name">
            <input class="contact-user_lastname" type="text" placeholder="LastName">
            <input class="contact-user_email" type="text" placeholder="Email Adress">
            <input class="contact-user_messege" type="text" placeholder="Write your messege">
            <span class="contact-usern_button">Send messege</span>
        </div>
        <div class="contact-data">
            <h4 class="contact-data_title">CONTACT INFO:</h4>
            <p class="contact-data_text">Address:<br>
             <span class="contact-data_description"> 34 Street Name, City Name Here, United States</span></p>
            <p class="contact-data_text">Phone:<br>
              <span class="contact-data_description">+1 242 4942 290</span></p>
            <p class="contact-data_text">Email:<br>
               <span class="contact-data_description">info@yourdomain.com</span></p>
        </div>
    </div>
</div>
