<div class="services-container" id="services">
    <div class="services">
    <h3 class="services-container_title">WHAT WE OFFER</h3>
    <p class="services-container_text">Far far away, behind the word mountains, far from the countries Vokalia and<br> Consonantia, there live the blind texts.</p>
    <div class="services-offers">

    <div class="services-offer">
        <img class="services-offer_icon" src="/assets/icons/wordsheeep.png">
        <p class="services-offer_title">SEA FREIGHT</p>
        <p class="services-offer_text">A small river named Duden flows by<br> their place and supplies it with the<br> necessary regelialia.</p>
    </div>
    <div class="services-offer">
        <img class="services-offer_icon" src="/assets/icons/airlane.png">
        <p class="services-offer_title">AIR FREIGHT</p>
        <p class="services-offer_text">A small river named Duden flows by<br> their place and supplies it with the<br> necessary regelialia.</p>
    </div>
    <div class="services-offer">
        <img class="services-offer_icon" src="/assets/icons/package.png">
        <p class="services-offer_title">PACKAGE FORWARDING</p>
        <p class="services-offer_text">A small river named Duden flows by<br> their place and supplies it with the<br> necessary regelialia.</p>
    </div>

    </div>
  

    <div class="services-offers">

        <div class="services-offer">
            <img class="services-offer_icon" src="/assets/icons/truck.png">
            <p class="services-offer_title">TRUCKING</p>
            <p class="services-offer_text">A small river named Duden flows by<br> their place and supplies it with the<br> necessary regelialia.</p>
        </div>
        <div class="services-offer">
            <img class="services-offer_icon" src="/assets/icons/house.png">
            <p class="services-offer_title">WAREHOUSE</p>
            <p class="services-offer_text">A small river named Duden flows by<br> their place and supplies it with the<br> necessary regelialia.</p>
        </div>
        <div class="services-offer">
            <img class="services-offer_icon" src="/assets/icons/deliverly.png">
            <p class="services-offer_title">DELIVERY</p>
            <p class="services-offer_text">A small river named Duden flows by<br> their place and supplies it with the<br> necessary regelialia.</p>
        </div>
    
        </div>

        </div>

</div>
