<div class="home-container">
    <img class="home-logo" src="/assets/images/home-logosecond.png">
    <div class="home-description">
        <h2 class="home-description_title">CHOOSE YOUR QUALITY DELIVERY<br> OF YOUR CARGO</h2>
        <p class="home-description_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est magni<br> perferendis fugit modi similique, suscipit, deserunt a iure.</p>
        <div class="home-description_number">
            <input class="home-description_number-input" type="text" placeholder="Enter your tracking number">
            <span class="home-description_number-button">Track now</span>
        </div>
    </div>
    
    <div class="home-delivery">
    
        <div class="home-delivery_container">
            <img class="home-delivery_container-img" src="/assets/images/home-wordship.webp">
            <h3 class="home-delivery_container-title">SEA FREIGHT</h3>
            <p class="home-delivery_container-text">Far far away, behind the word mountains,<br> far from the countries Vokalia and<br> Consonantia.</p>
        </div>
        <div class="home-delivery_container">
            <img class="home-delivery_container-img" src="/assets/images/home-air.webp">
            <h3 class="home-delivery_container-title">AIR FREIGHT</h3>
            <p class="home-delivery_container-text">Far far away, behind the word mountains,<br> far from the countries Vokalia and<br> Consonantia.</p>
        </div>
        <div class="home-delivery_container">
            <img class="home-delivery_container-img" src="/assets/images/home-diverly.webp">
            <h3 class="home-delivery_container-title">PACKAGE FORWARDING</h3>
            <p class="home-delivery_container-text">Far far away, behind the word mountains,<br> far from the countries Vokalia and<br> Consonantia.</p>
        </div>
       
    </div>
    
    <app-servicees></app-servicees>
    <app-aboutus></app-aboutus>
    
    <div class="pricing-container">
        <h3 class="pricing-container_title">PRICING</h3>
        <p class="pricing-container_text">Far far away, behind the word mountains, far from the countries Vokalia and<br> Consonantia, there live the blind texts.</p>
        <div class="pricing-container_subscribes">
            <div class="pricing-container_subscribes-box">
                <p class="pricing-container_subscribes-level">BASIC</p>
                <p class="pricing-container_subscribes-price">$47 / year</p>
                <p class="pricing-container_subscribes-description">Officia quaerat eaque neque</p>
                <p class="pricing-container_subscribes-description">Possimus aut consequuntur incidunt</p>
                <p class="pricing-container_subscribes-description">Lorem ipsum dolor sit amet</p>
                <p class="pricing-container_subscribes-description">Consectetur adipisicing elit</p>
                <p class="pricing-container_subscribes-description">Dolorum esse odio quas architecto sint</p>
                <br>
                <span class="pricing-container_subscribes-button">Buy Now</span>
            </div>
            <div class="pricing-container_subscribes-box">
                <p class="pricing-container_subscribes-level">PREMIUM</p>
                <p class="pricing-container_subscribes-price">$200 / year</p>
                <p class="pricing-container_subscribes-description">Officia quaerat eaque neque</p>
                <p class="pricing-container_subscribes-description">Possimus aut consequuntur incidunt</p>
                <p class="pricing-container_subscribes-description">Lorem ipsum dolor sit amet</p>
                <p class="pricing-container_subscribes-description">Consectetur adipisicing elit</p>
                <p class="pricing-container_subscribes-description">Dolorum esse odio quas architecto sint</p>
                <br>
                <span class="pricing-container_subscribes-button">Buy Now</span>
            </div>
            <div class="pricing-container_subscribes-box">
                <p class="pricing-container_subscribes-level">PROFESSIONAL</p>
                <p class="pricing-container_subscribes-price">$750 / year</p>
                <p class="pricing-container_subscribes-description">Officia quaerat eaque neque</p>
                <p class="pricing-container_subscribes-description">Possimus aut consequuntur incidunt</p>
                <p class="pricing-container_subscribes-description">Lorem ipsum dolor sit amet</p>
                <p class="pricing-container_subscribes-description">Consectetur adipisicing elit</p>
                <p class="pricing-container_subscribes-description">Dolorum esse odio quas architecto sint</p>
                <br>
                <span class="pricing-container_subscribes-button">Buy Now</span>
            </div>
        </div>
    </div>
    
    <div class="questions-container">
        <h3 class="questions-container_title">FREQUENTLY ASK QUESTIONS</h3>
        <div class="questions">
            <div class="questions-examples">
            <div class="questions-box">
                <div class="questions-box_title">
                    <img class="questions-box_title-icon" src="/assets/icons/massange.png">
                    <p class="questions-box_title-text">CAN I ACCEPT BOTH PAYPAL AND STRIPE?</p>
                </div>
                <p class="questions-box_title-description">Far far away, behind the word mountains, far from the countries Vokalia<br> and Consonantia, there live the blind texts.</p>
            </div>
            <div class="questions-box">
                <div class="questions-box_title">
                    <img class="questions-box_title-icon" src="/assets/icons/massange.png">
                    <p class="questions-box_title-text">WHAT AVAILABLE IS REFUND PERIOD?</p>
                </div>
                <p class="questions-box_title-description">Far far away, behind the word mountains, far from the countries Vokalia<br> and Consonantia, there live the blind texts.</p>
            </div>
            <div class="questions-box">
                <div class="questions-box_title">
                    <img class="questions-box_title-icon" src="/assets/icons/massange.png">
                    <p class="questions-box_title-text">CAN I ACCEPT BOTH PAYPAL AND STRIPE?</p>
                </div>
                <p class="questions-box_title-description">Far far away, behind the word mountains, far from the countries Vokalia<br> and Consonantia, there live the blind texts.</p>
            </div>
            <div class="questions-box">
                <div class="questions-box_title">
                    <img class="questions-box_title-icon" src="/assets/icons/massange.png">
                    <p class="questions-box_title-text">WHAT AVAILABLE IS REFUND PERIOD?</p>
                </div>
                <p class="questions-box_title-description">Far far away, behind the word mountains, far from the countries Vokalia<br> and Consonantia, there live the blind texts.</p>
            </div>
            </div>
    
            <div class="questions-examples">
                <div class="questions-box">
                    <div class="questions-box_title">
                        <img class="questions-box_title-icon" src="/assets/icons/massange.png">
                        <p class="questions-box_title-text">WHERE ARE YOU FROM?</p>
                    </div>
                    <p class="questions-box_title-description">Far far away, behind the word mountains, far from the countries Vokalia<br> and Consonantia, there live the blind texts.</p>
                </div>
                <div class="questions-box">
                    <div class="questions-box_title">
                        <img class="questions-box_title-icon" src="/assets/icons/massange.png">
                        <p class="questions-box_title-text">WHAT IS YOUR OPENING TIME??</p>
                    </div>
                    <p class="questions-box_title-description">Far far away, behind the word mountains, far from the countries Vokalia<br> and Consonantia, there live the blind texts.</p>
                </div>
                <div class="questions-box">
                    <div class="questions-box_title">
                        <img class="questions-box_title-icon" src="/assets/icons/massange.png">
                        <p class="questions-box_title-text">WHAT AVAILABLE IS REFUND PERIOD?</p>
                    </div>
                    <p class="questions-box_title-description">Far far away, behind the word mountains, far from the countries Vokalia<br> and Consonantia, there live the blind texts.</p>
                </div>
                <div class="questions-box">
                    <div class="questions-box_title">
                        <img class="questions-box_title-icon" src="/assets/icons/massange.png">
                        <p class="questions-box_title-text">CAN I ACCEPT BOTH PAYPAL AND STRIPE?</p>
                    </div>
                    <p class="questions-box_title-description">Far far away, behind the word mountains, far from the countries Vokalia<br> and Consonantia, there live the blind texts.</p>
                </div>
                </div>
    
            </div>
        
    </div>
    
    <hr>
    
    <app-whyus></app-whyus>

    <app-blog></app-blog>
    
    <app-contact></app-contact>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    </div>